html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 900px;
    height: 900px;
    border-width: 10px;
    border-color: aqua;
    border: solid;
    flex-shrink: 0;

    /*Prevents user from dragging the pixels */
    user-select: none;
}

.pixel {
    display: flex;
    box-sizing: border-box;
    -webkit-user-drag: none;
    
}

.settings-container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 35px;
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    border: solid;
    border-width: 3px;
    border-color: rgb(0, 202, 0);
    border-radius: 5px;
    background-color: rgb(46, 46, 46);

}


.color-settings {
    display: flex;
    align-items: center;

}

button {
    background-color: darkgray;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    border-color: rgb(255, 235, 52);
    background-color: rgb(43, 43, 43);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 71);;
}



.rainbow-button, .color-selection, .eraser-button, .reset-button {
    margin: 5px;
    height: 30px;
    width: 80px
}

@keyframes  color-change {
    0% { color: red; }
    25% { color: blue; }
    50% { color: yellow; }
    75% { color: green; }
    100% { color: red; }
}

.rainbow-button {
    animation: color-change 4s infinite;

}


.color-selection {
    -webkit-appearance: none;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(255, 235, 52);
    background-color: rgb(255, 235, 52);
}

.color-selection:hover {
    background-color: rgb(192, 175, 25);
    border-color: rgb(192, 175, 25);
}


.slider-value {
    text-align: center;
    margin-bottom: 8px;
    color: white;
    font-size: larger;
    font-weight: 600;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 17px;
    background: rgb(148, 133, 0);
    border-radius: 15px;
    opacity: 0.7;
    -webkit-transition: 0.2s;
}

.slider:hover {
    opacity: 1;
    background: rgb(194, 194, 7);
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: rgb(0, 0, 0);
    cursor: pointer;
    border-color: greenyellow;
    border-width: 2px;
}


.reset-button:active {
    border-color: red;
    transition: 0.1s;
}
